.CartEmpty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    align-items: center;
}
.CartEmpty > h3 {
    margin-bottom: 30px;    
}
.cart_empty_icon{
    font-size: 100px;
    margin-bottom: 20px;
}