.catalog_list {
    margin-top: 20px;
}

.catalog_list > div { 
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 200px;
    padding: 10px 10px;
    border: 1px solid #111;   
    transition: all .3s ease;
}
.catalog_list > div:hover {
    background-color: #b6b5b5;  
}
.catalog_list:last-child {
    width: 322px;
    margin-bottom: 10px;
}

.catalog {
    width: 30%;
}
.active_sectoin {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 5px 3px 5px rgb(211, 211, 211);
}
.active_sectoin >div{
    color: #fff;
    
    
} 
.fa-chevron-right {
    color: #fff;
}