.about_shop {
    width: 100%;;
    display: flex;
}

.about_shop_text {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about_text {
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 50px;
    color: #777;
}
.about_company {
    width: 74%;
    text-align: left;
    margin-bottom: 30px;
    color: #999;
    font-size: 15px;
    transition: color .3s ease;
}

.about_company:hover {
    color: #112;
}

.about_shop_name{
    width: 74%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}